@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  /* https://coolors.co/ffffff-c5c9ba-6f7852-424634 */
  --color-ash-gray: #C5C9BA;
  --color-light-green: #6f7852;
  --color-dark-green: #424634;
  --color-white: #ffffff;
}

#root {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem
}

.page-body {
  display: flex;
  flex: 1;
}


@media only screen and (min-device-width: 667px) {
  a.sign-in-button {
    width: 5em;
    text-align: center;
  }
}
