@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  /* background-color: #283618; */
  background-color: #fefae0;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.app {
  min-width: 700px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.header-block {
  display: flex;
  flex-direction: column;
}

.header-title {
  margin: 0;
  color: #6f7852;
  font-weight: normal;
}

.header-subtitle {
  margin-top: 0.2em;
}

.header-button {
  color: #fefae0;
  background-color: #6f7852;
  padding: 0.7em;
  border-radius: 5px;
  text-decoration: none;
}

@media only screen and (max-device-width: 667px) {
  #root {
    width: 90%;
  }

  .app {
    min-width: unset;
  }

  .header {
    flex-direction: column;
  }

  .header-block {
    text-align: center;
  }
}
