@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  --color-background: #fefae0;
  --color-primary: #6f7852;
  --color-accent-dark: #424634;
  --color-accent-light: #f8f7f1;
}

#root {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.bound-width {
  width: 90%;
}

main {
  flex: 1;
}


@media only screen and (min-device-width: 667px) {
  header {
    text-align: left;
  }

  .bound-width {
    max-width: 900px;
    width: 90vw;
  }

  a.sign-in-button {
    width: 5em;
    text-align: center;
  }
}
