header {
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

header>h1 {
  margin: 1rem 0 0 0;
  margin-left: inherit;
  margin-right: inherit;
  color: var(--color-primary);
  font-weight: normal;
}

header>p {
  margin-top: 0.2rem;
}

.profile-bar {
  height: 3.25em;
  padding: 0.5em;
  box-sizing: border-box;
  background-color: var(--color-accent-dark);
  display: flex;
  align-items: center;
}

.profile-bar.unauthenticated-profile-bar {
  justify-content: flex-end;
}

.profile-bar.authenticated-profile-bar {
  justify-content: space-between;
}

.profile-bar .main-menu-selector {
  height: 90%;
  fill: var(--color-accent-light);
}

.profile-bar>.right-side {
  display: flex;
  align-items: center;
  height: 100%;
}

.profile-bar .username {
  margin: 0.5em;
  line-height: normal;
  color: var(--color-accent-light)
}

.profile-bar img {
  display: block;
  height: 100%;
  border-radius: 50%;
}
