.profile-bar {
  height: 3.25em;
  padding: 0.5em;
  box-sizing: border-box;
  background-color: var(--color-accent-dark);
  display: flex;
  align-items: center;
}

.profile-bar.unauthenticated-profile-bar {
  justify-content: end;
}

.profile-bar.authenticated-profile-bar {
  justify-content: space-between;
}

.profile-bar .main-menu-selector {
  height: 90%;
  fill: var(--color-accent-light);
}

.profile-bar>.right-side {
  display: flex;
  align-items: center;
  height: 100%;
}

.profile-bar .username {
  margin: 0.5em;
  line-height: normal;
  color: var(--color-accent-light)
}

.profile-bar img {
  display: block;
  height: 100%;
  border-radius: 50%;
}

@media only screen and (min-device-width: 667px) {
  .profile-bar.authenticated-profile-bar {
    justify-content: end;
  }

  .profile-bar .main-menu-selector {
    display: none;
  }
}
